
    <h1> Say Something.. </h1>

    <form action = "/say" method = "POST">
      <div>
        <label for = "sentence"> Sentence </label>
        <input type ="text" name = "sentence" id = "sentence">
      </div>

      <input type = "submit" value = "Cowsay">
